<!doctype html>
<html lang="en">
    <head>
        <link href="http://fonts.googleapis.com/css?family=Anton"
            rel="stylesheet" type="text/css">
            <title>Hyde Starter Kit {% if resource.meta.title-%}
                | {{ resource.meta.title}}{%-endif %}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ media_url('css/style.css') }}">
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
        </script>
        <![endif]-->
    </head>
    <body>
        <header>
            <hgroup>
            <h1><span>Hyde</span> Starter Kit</h1>
            <h2>Know your tool</h2>
            </hgroup>
        </header>
        <nav>
        {# Move main menu rendering away from the base layout. This
           way it can be used to generate the list many times, e.g. in
           a footer, etc.
        #}
            {% import "macros.j2" as macros with context %}
            {{ macros.render_basic_menu() }}
            {{ macros.render_advanced_menu() }}
        </nav>
        <article id="content">
        {# Main content block. Notice it has to pass through the
           Markdown filter to generate HTML. If a block in content
           pages contains only markup, you can omit the filter.
        #}
            {% filter markdown -%}
            {% block content %}{% endblock %}
            {%- endfilter %}
        </article>

        {# Some parts of the web are not needed for development and can
           wait for production (e.g. analytics). They can be included in
           the final production build. Create a new config file, extend
           the original one and override the "mode" property; then build
           the site with the new "production configuration".
        #}
        {% if site.config.mode == "production" -%}
            {% include "ga.j2" %}
        {%- endif %}
    </body>
</html>
