@import 'inc/reset.css';
@import 'inc/measures';
@import 'inc/colors';
@import 'inc/mixins';
@import 'inc/base.css';
@import 'inc/common';
@import 'inc/layout';
@import 'inc/text';
@import 'inc/controls';

h2 {
    margin: @column 0 @column / 2;
    font-size: @gutter * 2;
    color: @shade;
    line-height: @gutter * 2;
}

header.banner {
    width: 100%;
    height: @column * 3;
    position: relative;
    img{
        display:block;
        float: left;
    }
    h1 {
        .heading;
        float: left;
        margin-left: @column - 2;
        font-size: @column * 2;
        line-height: @column * 3 + 8;
        margin-bottom: 0;
    }
    h3 {
        .subheading;
        color: @qdark;
        position: absolute;
        bottom: @gutter - 2;
        font-size: @gutter * 2;
        left: @gutter * 22 + 2;
        margin:0;
        text-shadow: -1px -1px 0px @clear - 90, 1px 1px 0px @clear + 90;
    }
    margin-bottom: @column - 2;
}

article {
    padding: @column;
    .boxshadow(0, 1px, 3px, @qdark);
    
    h1.title {
        color: @dark;
        font-size: @gutter * 3;
        margin-bottom: @gutter / 2 + 1;
    }
    h3.subtitle{
        color: @shade;
        font-size: @gutter * 1.5;
        font-weight: normal;
        padding-left: 6px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: @gutter * 2 - 2;
    }
}

.code{
    position: relative;
    
    figcaption{
        font-size: @gutter - 2;
        position:absolute;
        bottom: @gutter * 2.5;
        right: @gutter;
        color: @qdark;
    }
}

.highlight
{
     pre{
        font-size: @gutter;
        .boxshadow(0, 1px, 3px, @qdark);
        padding: @gutter + 4 @gutter @gutter;
        line-height: @gutter * 2;
        margin-bottom: @gutter / 2 + 2;
    }
}