exclude *.pyc .DS_Store .gitignore .noseids MANIFEST.in
include setup.py
include LICENSE
include README.rst
include AUTHORS.rst
include CHANGELOG.rst
include requirements.txt
include dev-req.txt
include dev-only.txt
recursive-include hyde *.py
recursive-include tests *.py
recursive-include hyde/layouts *.*
