* {
    margin: 0;
    padding: 0;
}

html, body {
    color: #ddd;
    background-color: black;
}

body {
    margin: 0 auto;
    width: 980px;
    min-height: 700px;
    background: url('../img/background.jpg') top left no-repeat;
    position: relative;
    font-size: 14px;
    font-family: Tahoma, sans-serif;
}

strong {
    color: white;
}

a {
    color: #f1ee00;
}

a:hover, a:focus {
    text-decoration: none;
}

p, ul, ol {
    margin-bottom: 22px;
}

ul, ol {
    margin-left: 28px;
}

header {
    position: absolute;
    top: 120px;
    right: 120px;
    font-family: Anton, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: none;
}

header h1 {
    font-size: 50px;
    font-weight: normal;
    text-shadow: -1px 2px 1px black;
    color: white;
}

header h1 span {
    color: #f1ee00;
}

header h2 {
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 11px;
    text-shadow: -1px 2px 1px black;
    color: white;
}

nav {
    position: absolute;
    top: 340px;
    right: 120px;
    width: 250px;
    text-align: right;
    font-family: Anton, Tahoma, sans-serif;
}

nav a,
nav a:visited {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 28px;
}

nav a.selected {
    color: #888;
}

nav a:hover {
    color: #f1ee00;
}

nav ul li {
    list-style-type: none;
}

nav, aside {
    /* to line up with the header */
    padding-right: 5px;
}

#content {
    /*font-size: 14px;*/
    line-height: 22px;
    position: absolute;
    top: 350px;
    left: 180px;
    width: 410px;
    padding-bottom: 100px;
}

#content h1 {
    font-weight: normal;
    font-size: 28px;
    font-family: Anton, Tahoma, sans-serif;
    text-transform: uppercase;
    margin-bottom: 22px;
    color: white;
}

#content h2 {
    font-weight: bold;
    font-size: 17px;
    font-family: Tahoma, sans-serif;
    margin-bottom: 22px;
    color: white;
    border-bottom: 1px dashed #888;
}

#content code {
    display: block;
    font-family: 'DejaVu Sans Mono', 'Liberation Mono', 'Courier New';
    font-size: 12px;
    background-color: #222;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-top: 1px solid #444;
    border-right: 1px solid #333;
    border-bottom: 1px solid #222;
    border-left: 1px solid #111;
}

#content .tags {
    font-size: 8px;
    color: #888;
}

#content .bottom_article_nav {
    border-top: 1px dashed #888;
    overflow: hidden;
    margin-top: 40px;
    padding-top: 10px;
}

#content .bottom_article_nav .next {
    float: right;
}
