{% extends "root.html" %}
{% block all %}
<!doctype html>
<!-- https://github.com/paulirish/html5-boilerplate/blob/master/index.html -->
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  {% block starthead %}{% endblock starthead %}
  <meta charset="{{resource.meta.charset|default('utf-8')}}">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="{{page.meta.compatibility|default('IE=edge,chrome=1')}}">

  <!-- encoding must be specified within the first 512 bytes www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#charset -->

  <!-- meta element for compatibility mode needs to be before all elements except title & meta msdn.microsoft.com/en-us/library/cc288325(VS.85).aspx -->
  <!-- Chrome Frame is only invoked if meta element for compatibility mode is within the first 1K bytes code.google.com/p/chromium/issues/detail?id=23003 -->

  <title>{% block title %}{{resource.meta.title}}{% endblock %}</title>
  <meta name="description" content="{{resource.meta.description}}">
  <meta name="author" content="{{resource.meta.author}}">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="{{page.meta.viewport|default('width=device-width, initial-scale=1.0')}}">

  {% block favicons %}
  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="{{ media_url('/favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ media_url('/apple-touch-icon.png') }}">
  {% endblock favicons %}

  {% block css %}
  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="{{ media_url('css/site.css') }}">
  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->
  {% endblock css %}

  {% block headjs %}
  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
    <script src="{{ media_url('js/libs/modernizr-1.6.min.js') }}"></script>
  {% endblock headjs %}
  {% block endhead %}{% endblock endhead %}
</head>
<body id="{{resource.id if resource.id else resource.name_without_extension}}">
  {% block content %}
  <div id="container">
    {% block container %}
    <header>
    {% block header %}{% endblock header %}
    </header>
    <div id="main" role="main">
        {% block main %}{% endblock main %}
    </div>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
    {% endblock container%}
  </div> <!--! end of #container -->
  {% endblock content%}

  {% block js %}
  <!-- Javascript at the bottom for fast page loading -->
  {% block jquery %}
  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="{{ media_url('js/libs/jquery-1.4.4.js') }}"%3E%3C/script%3E'))</script>
  {% endblock jquery %}

  {% block scripts %}
  <!-- scripts concatenated and minified via ant build script-->
  <script src="{{ media_url('js/plugins.js') }}"></script>
  <script src="{{ media_url('js/script.js') }}"></script>
  <!-- end concatenated and minified scripts-->
  {% endblock scripts %}

  {% block pngfix %}
  <!--[if lt IE 7 ]>
    <script>
      // More information on tackling transparent PNGs for IE goo.gl/mZiyb
      //fix any <img> or .png_bg background-images
      $.getScript("{{ media_url('js/libs/dd_belatedpng.js') }}",function(){ DD_belatedPNG.fix('img, .png_bg'); });
    </script>
  <![endif]-->
  {% endblock pngfix %}

  {% block debug %}
  {% include "devmode.html" %}
  {% endblock debug %}
  
  {%block analytics %}
  {% include "analytics.html" %}
  {% endblock analytics %}
  
  {% endblock js %}
</body>
</html>
{% endblock all %}
