{% extends "base.j2" %}
{% from "macros.j2" import render_excerpt with context  %}
{% block main %}
{% block page_title %}<h1 class="title">{{ resource.meta.title }}</h1>{% endblock %}

<ul class="listing clearfix">
{% for res in resource.node.walk_resources_sorted_by_time() %}
<li>
    {{ render_excerpt(res) }}
</li>
{% endfor %}
</ul>
{% endblock %}