.rounded (@radius: 5px){
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;
}@the-border: 1px;
@base-color: #111;* {
    border: 0;
    padding: 0;
    margin: 0;
}#header {
  color: @base-color * 3;
  border-left: @the-border;
  border-right: @the-border * 2;
}

#footer {
  color: (@base-color + #111) * 1.5;
}

#content {
    .rounded(10px);
}