/*
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
}
/* END RESET CSS */a img {
  border: none;
}
.clear {
  clear: both;
}
.clickable {
  cursor: pointer;
}
.nobullets {
  list-style-type: none;
}
/*
 * minimal base styles
 */
/* headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
}
/* always force a scrollbar in non-IE: */
html {
  overflow-y: scroll;
}
/* accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none;
}
ol {
  list-style-type: decimal;
}
small {
  font-size: 85%;
}
strong, th {
  font-weight: bold;
}
td, td img {
  vertical-align: top;
}
/* set sub, sup without affecting line-height: gist.github.com/413930*/
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
textarea {
  overflow: auto;
}
/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}
/* thnx ivannikolic! */
/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
/* hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}
/* webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
}
/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible;
}
/* bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
/*
 * Non-semantic helper classes
 */
/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden
   Updated to ensure no other style overrides the styles defined in this rule */
.visuallyHidden {
  border: 0 !important;
  clip: rect(0 0 0 0);
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}
/* fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix {
  zoom: 1;
}
a {
  color: #497c55;
  text-decoration: none;
  text-shadow: 0px 1px 0px #fefdfd;
}
a:hover {
  color: #cd3b16;
  text-decoration: underline;
  text-shadow: 0px 1px -1px #fefdfd;
}
body {
  font-family: "ff-meta-web-pro-1", "ff-meta-web-pro-2", Helvetica, Arial, sans-serif;
  color: #132016;
  background-color: #fefdfd;
}
.subheading {
  font-family: "anivers-1", "anivers-2", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #010202;
}
body {
  min-height: 1200px;
}
#container {
  width: 972px;
  margin: 0 auto 96px;
  background-color: #fefdfd;
}
#main {
  margin: 12px;
}
article {
  width: 612px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 24px;
}
ul, ol {
  padding-bottom: 12px;
}
li {
  margin-bottom: 12px;
  margin-left: 24px;
}
li ul, li ol {
  padding-top: 12px;
  padding-bottom: 0;
}
.heading {
  color: #d6d5d5;
  text-shadow: -1px -1px 0px #a4a3a3, 1px 1px 0px #ffffff;
}
body {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "anivers-1", "anivers-2", Helvetica, Arial, sans-serif;
}
code, .highlight pre {
  font-family: menlo, monaco, courier;
}
code {
  color: rgba(0, 0, 0, 0.5);
  font-size: 80%;
}
.amp {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  line-height: 75%;
}
.caps, .sc {
  font-family: "anivers-1", "anivers-2", Helvetica, Arial, sans-serif;
}
/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink. */
::-moz-selection {
  background: #497c55;
  color: #fefdfd;
  text-shadow: none;
}
::selection {
  background: #497c55;
  color: #fefdfd;
  text-shadow: none;
}
/*  j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #497c55;
}
.nohover-button,
.nohover-button:visited,
.button,
.button:visited {
  background: #497c55;
  padding: 5px 10px 6px;
  color: #fefdfd;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.nohover-button:hover,
.nohover-button:visited:hover,
.button:hover,
.button:visited:hover {
  background-color: #cd3b16;
  color: #d4ffe3;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.nohover-button:active,
.nohover-button:visited:active,
.button:active,
.button:visited:active {
  top: 1px;
}
.button, .button:visited {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}
.huge-button {
  font-size: 32px;
}
.buttonbar {
  text-align: right;
  margin: 3px 12px 8.399999999999999px 24px;
  padding: 0 0 24px 0;
}
h2 {
  font-size: 24px;
  color: #453f19;
  line-height: 24px;
}
header.banner {
  width: 100%;
  height: 144px;
  position: relative;
  margin-bottom: 48px;
}
header.banner img {
  display: block;
  float: left;
}
header.banner h1 {
  color: #d6d5d5;
  text-shadow: -1px -1px 0px #a4a3a3, 1px 1px 0px #ffffff;
  float: left;
  margin-left: 46px;
  font-size: 96px;
  line-height: 152px;
  margin-bottom: 0;
}
header.banner h3 {
  font-family: "anivers-1", "anivers-2", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #010202;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 12px;
  font-size: 24px;
  left: 266px;
  margin: 0;
  text-shadow: -1px -1px 0px #a4a3a3, 1px 1px 0px #ffffff;
}
article {
  padding: 48px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
article h1.title {
  color: #497c55;
  font-size: 36px;
  margin-bottom: 6px;
}
article h3.subtitle {
  color: #453f19;
  font-size: 18px;
  font-weight: normal;
  padding-left: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 21px;
}
.highlight pre {
  font-size: 11px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  padding: 18px 12px;
}
