{% extends "root.j2" %}
{% block main -%}
<article>
<hgroup>
    <h1 class="title">{{ resource.meta.title }}</h1>
    <h3 class="subtitle">{{ resource.meta.subtitle }}</h3>
</hgroup>
{% filter markdown|typogrify -%}
{% block doc -%}
{%- endblock %}
</article>
<aside>
</aside>
{%- endfilter %}
{%- endblock %}